@{
  Layout = "_Layout";
}

@section scripts {

}

<body>
  <h1>Experiences</h1>
<hr>
  <h2>@Model.GetTitle()</h2>
  <h2>@Model.GetCityName()</h2>
  <h2>@Model.GetHostName()</h2>
  <img src='@Model.GetPhotoLink()' alt="">
  <h2>@Model.GetDescription()</h2>
  <h2>@Model.GetPrice()</h2>

  <form class="" action="/login" method="post">
    <button type="submit" class="btn" name="button">Book</button>
  </form> <br>
  @* To build the link to go back- use modal class. *@

</body>
